extends index

block content
  
    div#cover
      div.heading-cover
        h1.primaryHeading heyThere
        h2.secondaryHeading ( a Chat App )
      div.button-cover
        a(href="/join")._btn.btn_white Have a Chat
