doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="/css/style.css" rel="stylesheet" type="text/css")
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa|Satisfy" rel="stylesheet")
  body    
    div#cover
      div.heading-cover
        h1.primaryHeading heyThere
        h2.secondaryHeading ( a Chat App )
      div.button-cover
        a(href="/join")._btn.btn_white Have a Chat
