doctype html

html
  head
    meta(charset="utf-8")
    link(href="/css/style.css" rel="stylesheet" type="text/css")
    link(href="/css/bootstrap.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa|Satisfy" rel="stylesheet")
      
  body
    block content
      
  script(src="/socket.io/socket.io.js")
  script(src="/js/libs/jquery.js")
  script(src="/js/socket.js")
