@keyframes moveInLeft {
  0% {
    opacity: 0%;
    transform: translateX(10rem); }
  80% {
    opacity: 0.8%;
    transform: translateX(-2rem); }
  100% {
    opacity: 1%;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(2rem); }
  100% {
    opacity: 1%;
    transform: translateX(0rem); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1%;
    transform: translateX(0rem); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 80%; }

body {
  box-sizing: border-box; }

.primaryHeading {
  font-size: 5rem;
  font-family: "Comfortaa", cursive;
  font-weight: 100;
  margin: 10px;
  background: -webkit-linear-gradient(#ffefba, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  letter-spacing: .5rem; }

.secondaryHeading {
  font-size: 3rem;
  font-family: "Satisfy", cursive;
  font-weight: 100;
  color: teal;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  letter-spacing: .2rem; }

.people-heading {
  color: black;
  font-family: "Comfortaa", cursive;
  margin-top: 17px; }

._btn:link,
._btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  width: 15rem;
  animation-name: moveUp;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

._btn:hover {
  transform: translateY(-3px);
  color: inherit;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

._btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn_white {
  background-color: #fff;
  color: #777; }

#cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/cover.jpeg);
  background-size: cover;
  background-position: top;
  padding-top: 20vh;
  text-align: center; }

.heading-cover {
  display: inline-block;
  text-align: center; }

.button-cover {
  margin: 10vh;
  text-align: center; }

#chatInterface {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start; }

.chat_Sidebar {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll; }
  .chat_Sidebar::-webkit-scrollbar {
    width: 5px; }
  .chat_Sidebar::-webkit-scrollbar-thumb {
    background: black;
    height: 150px; }
  .chat_Sidebar::-webkit-scrollbar-track {
    background: white; }

.chat_main {
  box-shadow: -1px 2px 10px black;
  height: 100%;
  width: 85%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between; }
  .chat_main #message {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    margin: 10px;
    list-style-type: none; }
    .chat_main #message::-webkit-scrollbar {
      width: 5px; }
    .chat_main #message::-webkit-scrollbar-thumb {
      background: black;
      height: 150px; }
    .chat_main #message::-webkit-scrollbar-track {
      background: white; }
    .chat_main #message li {
      margin-top: 5px; }
      .chat_main #message li .spanU {
        font-size: 1.5rem;
        font-family: "Satisfy", cursive;
        margin-left: 10px; }
      .chat_main #message li .spanT {
        font-size: 1.3rem;
        color: silver;
        margin: 10px; }
      .chat_main #message li .text {
        font-size: 1.3rem;
        display: inline-block;
        font-family: "Comfortaa", cursive;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px;
        max-width: auto;
        word-wrap: break-word;
        overflow-wrap: word-wrap;
        word-break: break-word; }
      .chat_main #message li .locationText {
        font-size: 1.3rem;
        font-family: "Comfortaa", cursive;
        font-style: oblique; }
  .chat_main .chat_footer {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between; }
    .chat_main .chat_footer .form {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .chat_main .chat_footer .form .message {
        width: 80%;
        font-family: "Comfortaa", cursive;
        font-size: 1.1rem; }
      .chat_main .chat_footer .form #send-message {
        width: 65px; }
      .chat_main .chat_footer .form #send-location {
        width: 122px; }

.container {
  position: relative;
  width: 100%;
  height: 100vh; }
