#chatInterface {
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.chat_Sidebar {
  height:100%;
  width:15%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background:black;
    height:150px;
  }
  &::-webkit-scrollbar-track {
    background:white;
  }
}

.chat_main {
  box-shadow: -1px 2px 10px black;
  height:100%;
  width:85%;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;

  #message {
    height:90%;
    width:100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background:black;
      height:150px;
    }
    &::-webkit-scrollbar-track {
      background:white;
    }
    margin:10px;
    list-style-type: none;

    li {
      margin-top:5px;
      .spanU {
        font-size: 1.5rem;
        font-family: $font-secondary-heading;
        margin-left:10px;

      }
      .spanT {
        font-size: 1.3rem;
        color:silver;
        margin:10px;
      }
      .text {
        font-size: 1.3rem;
        display:inline-block;
        font-family: $font-primary-heading;
        background-color: rgba(0,0,0,0.1);
        padding: 5px;
        border-radius: 5px;
        margin:5px 0px;
        max-width:auto;
        word-wrap: break-word;
        overflow-wrap: word-wrap;
        word-break: break-word;
      }
      .locationText {
        font-size:1.3rem;
        font-family: $font-primary-heading;
        font-style: oblique;
      }
    }
  }

  .chat_footer {
    display:flex;
    justify-content: flex-start;
    justify-content: space-between;

    .form {
      width:100%;
      display:flex;
      justify-content: space-between;
      .message {
        width:80%;
        font-family:$font-primary-heading;
        font-size: 1.1rem;
      }
      #send-message {
        width:65px;
      }
      #send-location {
        width:122px;
      }
    }

  }
}
