#chatInterface {
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.chat_Sidebar {
  height:100%;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background:black;
    height:150px;
  }
  &::-webkit-scrollbar-track {
    background:white;
  }
}

.chat_main {
  box-shadow: -1px 2px 10px black;
  height:100%;
  flex-grow: 6;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;

  #message {
    height:90%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background:black;
      height:150px;
    }
    &::-webkit-scrollbar-track {
      background:white;
    }
    margin:10px;
    list-style-type: none;
    li {
      font-family:$font-primary-heading;
      font-size: 1.4rem;
      padding:10px;

      span {
        border-radius: 10%;
        background-color:lightgreen;
        color:teal;
        padding:5px;
        margin-left:10px;
      }
    }
  }

  .chat_footer {
    display:flex;
    justify-content: flex-start;
    justify-content: space-between;

    .form {
      width:100%;
      display:flex;
      justify-content: space-between;
      .message {
        width:80%;
        font-family:$font-primary-heading;
        font-size: 1.1rem;
      }
      #send-message {
        width:65px;
      }
      #send-location {
        width:122px;
      }
    }

  }
}
