#chatInterface {
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  @include respond-phone {
			flex-direction: column;
	}
}

.chat_Sidebar {
  height:100%;
  width:15%;
  @include respond-phone {
		width:100%;
    height:18%;
	}
  box-shadow: 0px 0px 15px grey;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0.1);
  .people-heading {
    font-weight: 400;
    padding:1.5rem;
    color:white;
    background-color: blue;
    margin:0px;
    font-family: $font-secondary-heading;
    letter-spacing: 5px;
    border-left:5px solid white;
    border-top:5px solid white;
    border-bottom:5px solid white;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    cursor:pointer;
    .peopleListDown {
      border-radius: 100%;
      padding:5px;
    }
    .peopleListUp {
      border-radius: 100%;
      padding:5px;
    }
  }
  #users{
    height:60%;
    @include respond-phone {
  		width:100%;
      height:0%;
  	}
    ol{
      height:100%;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background:silver;
        height:50%;
        border-radius: 0px;
      }
      &::-webkit-scrollbar-track {
        background:white;
      }
      list-style-type: none;
      .user {
        font-family:$font-primary-heading;
        color:black;
        font-size: 1.5rem;
        padding:5px 10px;
        margin:10px;
        background-color:white;
        max-width:auto;
        word-wrap: break-word;
        overflow-wrap: word-wrap;
        word-break: break-word;
      }
    }
  }
}

.chat_main {
  box-shadow: 0px 0px 30px silver;
  height:92%;
  margin:2%;
  width:82%;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  @include respond-phone {
			width:100%;
      height:88%;
	}

  #message {
    height:90%;
    width:100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background:silver;
      border:5px;
      height:150px;
    }
    &::-webkit-scrollbar-track {
      background:white;
    }
    margin:10px;
    list-style-type: none;

    li {
      margin-top:10px;
      .spanU {
        font-size: 1.5rem;
        font-family: $font-secondary-heading;
        margin-left:10px;

      }
      .spanT {
        font-size: 1.3rem;
        color:silver;
        margin:10px;
      }
      .text {
        font-size: 1.3rem;
        display:inline-block;
        font-family: $font-primary-heading;
        background-color: rgba(0,0,0,0.1);
        padding: 5px;
        border-radius: 5px;
        margin:5px 0px;
        max-width:auto;
        word-wrap: break-word;
        overflow-wrap: word-wrap;
        word-break: break-word;
      }
      .locationText {
        font-size:1.3rem;
        font-family: $font-primary-heading;
        text-decoration: underline;
      }
    }
    .me {
      display:flex;
      justify-content: flex-end;
      align-items:center;
      padding-right:2rem;
    }
  }

  .chat_footer {
    display:flex;
    justify-content: flex-start;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
    padding:10px;

    .form {
      width:100%;
      height:3rem;
      display:flex;
      justify-content: space-between;
      .message {
        width:80%;
        font-family:$font-primary-heading;
        font-size: 1.3rem;
      }
      #send-message {
        width:65px;
      }
      #send-location {
        width:122px;
      }
    }

  }
}

.show{
  display:inline;
}
.hide{
  display:none;
}
