$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #FFEFBA;
$color-secondary-dark: #FFFFFF;

$font-primary-heading: 'Comfortaa', cursive;
$font-secondary-heading: 'Satisfy', cursive;

$font-tertiary-heading: 'Shadows Into Light', cursive;
